---
layout: landing
title: Home
---
{% include JB/setup %}
<ul class="posts">
  {% for post in paginator.posts %}
    <li>
      <div>
        <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt}}</p>
      </div>
      <span>{{ post.date | date_to_string }}</span>
    </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  <ul>
  {% if paginator.previous_page %}
    <li class="previous"><a href="{{ paginator.previous_page_path }}">&larr; Previous</a></li>
  {% else %}
    <li class="previous disabled"><a>&larr; Previous</a></li>
  {% endif %}
  <li><a href="">{{ paginator.page }} of {{ paginator.total_pages }}</a></li>
  {% if paginator.next_page %}
    <li class="next"><a href="{{ paginator.next_page_path }}">Next &rarr;</a></li>
  {% else %}
    <li class="next disabled"><a>Next &rarr;</a>
  {% endif %}
  </ul>
</div>