<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>linhub [dot] io - {{ page.title }}</title>
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta property="og:description" content="{{ page.description }}">
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="Personal Blog of Ngalim Siregar">
      <meta property="og:description" content="Personal Blog of Ngalim Siregar">
      <meta name="twitter:description" content="Personal Blog of Ngalim Siregar">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    {% if page.title %}
      <meta property="og:title" content="linhub [dot] io - {{ page.title }}">
      <meta name="twitter:title" content="linhub [dot] io - {{ page.title }}">
    {% else %}
      <meta property="og:title" content="linhub [dot] io">
      <meta name="twitter:title" content="linhub [dot] io">
    {% endif %}
    <meta property="og:url" content="https://linhub.io/">
    <meta property="og:image" content="{{ site.baseurl }}/img/profile.png">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ site.baseurl }}/img/profile.png">
    <meta property="twitter:creator" content="@siregarbox">
    <link rel="canonical" href="https://linhub.io/">
    <link href="{{ ASSET_PATH }}/css/bootstrap.reduced.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-fixed navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include JB/pages_list %}
            </ul>
          </div>
        </div>
    </nav>
    <div class="container">
      <div class="content">
        {{ content }}
      </div>
    </div> <!-- /container -->
    {% include JB/analytics %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2544661724087657",
        enable_page_level_ads: true
      });
    </script>
    <script async src="{{ ASSET_PATH }}/js/jquery.min.js"></script>
  </body>
</html>
