<header>
    <hgroup>
      <h1>{{ page.title }}</h1>
      <h1><small>{{ page.subtitle }}</small></h1>
      <h5>posted to {{ page.categories }} on {{ page.date | date_to_long_string }}</h5>
      {% unless page.tags == empty %}
        <ul class="tag_box inline">
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
        </ul>
      {% endunless %}
    </hgroup>
</header>

<div class="row">
  <div class="span16">
    {{ content }}
    <hr>
    <div class="share">
        Share this via
        <a href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.url}}&screen_name=ngalim_siregar&text={{ page.title }}" target="_blank">Twitter</a>
        or
        <a href="https://t.me/share/url?url={{ page.url | prepend: site.url }}">Telegram</a>
    </div>
    <hr>
    <div style="text-align: center;">
      {% if page.previous.url %}
      <a href="{{ page.previous.url }}" style="float: left;">&xlarr;</a>
      {% endif %}
      <a href="https://twitter.com/intent/tweet?screen_name=ngalim_siregar&text=Pair%20With%20Me%21" target="_blank">Pair With Me!</a>
      {% if page.next.url %}
      <a href="{{ page.next.url }}" style="float: right;">&xrarr;</a>
      {% endif %}
    </div>
    <div class="share">
        Share this via
        <a href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.url}}&screen_name=ngalim_siregar&text={{ page.title }}" target="_blank">Twitter</a>
        or
        <a href="https://t.me/share/url?url={{ page.url | prepend: site.url }}">Telegram</a>
    </div>
    {% include JB/comments %}
  </div>
</div>
